*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 5%;
    flex-direction: column;
    position: absolute;
}

.elem{
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid white;
    position: relative;
    
}
.elem img{
    width: 150px;
    height: 125%;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    transition: all ease 0.2s;
    mix-blend-mode: difference;
}
.elem h1{
    font-size: 7vw;
    /* margin-top: auto;
    margin-bottom: auto; */
}